[submodule "spdlog"]
    path = external/spdlog/spdlog
    url = https://github.com/Lasander/spdlog.git
[submodule "googletest"]
	path = external/googletest/googletest
	url = https://github.com/google/googletest.git
